<h3> Beer: </h3>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for beer <- @brewery.beers do %>
        <tr>
          <td><%= beer.name %></td>
          <td>
            <%= if beer.type == nil do %>
              n/a
            <%= else %>
              <%= beer.type %>
            <%= end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
