<h2>Show brewery</h2>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @brewery.name %>
  </li>
</ul>

<%= render "beers.html", brewery: @brewery, conn: @conn %>

<h3>Can't find a <%= @brewery.name %> beer? Add it to the app.</h3>

<%= render "beer_form.html", brewery: @brewery, changeset: @changeset,
action: brewery_brewery_path(@conn, :add_beer, @brewery) %>

<span><%= link "Back", to: brewery_path(@conn, :index) %></span>
