<h1>Registered Beers</h1>

<table class="table">
  <%= for beer <- @beers do %>
    <tr>
      <td><%= beer.name %></td>
      <td><%= beer.type %></td>
      <td><%= link "Rate this beer", to: beer_path(@conn, :show, beer.id) %></td>
    </tr>
  <% end %>
</table>

<h3 class = "note">Don't see your beer? Add it by brewery in the Breweries section.</h3>
