<h2><%= @beer.name %></h2>

<%= if @beer.type == nil do %>
  <h3>Type: n/a</h3>
<% else %>
  <h3>Type: <%= @beer.type %></h3>
<% end %>

<h4><%= link "Rate It!", to: checkin_path(@conn, :new) %></h4>
