<h2>Show <%= @beer.name %> checkin:</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Beer:</strong>
    <%= @beer.name %>
  </li>

  <li>
    <Strong>Type:</Strong>
    <%= @beer.type %>
  </li>

  <li>
    <strong>Rating:</strong>
    <%= @checkin.rating %>
  </li>


</ul>

<span><%= link "Back", to: checkin_path(@conn, :index) %></span>
